*
{
    margin: 0;
    padding: 0;
}
html
{
    height: 100vh;
}

body 
{
    min-height: 100vh;
    color: #ffffff;
    background-color: #262626;
}

nav
{
    height: 50px;
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    margin-left: 100px;
}

nav ul
{   
    margin-right: 100px;
    list-style: none;
}

nav li
{
    margin: 10px;
    display: inline;
}

nav li a
{
    text-decoration: none;
    color: #ffffff;
}